{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un utilsateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}


            <a href="{{ path('user_index') }}">Retour</a>

{% endblock %}
